<div class="container">
  <h1>Crucible</h1>
  <h3>Repository: {{repoUuid}}</h3>
  <div>Name: {{repoHeader.repo_name}}</div>
  <div>Base Repository: {{repoHeader.base_repo_uuid}}</div>
  <div>User UUID: {{repoHeader.user_uuid}}</div>
  <div>Timestamp: {{repoTimestamp}}</div>
  <div>Totalling {{crucibleRepo.repoProto.change_lists.length}} commits</div>
  <div>At commit number {{commitNumber}}</div>
  <h3>Change List: {{clUuid}}</h3>
  <div>Change List commited to Crucible at: {{changeListTimestamp}}</div>
  <hr>
  <div ng-repeat="file in files track by $index">
    <div ng-click="file.expanded = !file.expanded" class="file-header">
        <span class="glyphicon" aria-hidden="true"
          ng-class="'glyphicon-chevron-' + (file.exponded ? 'up' : 'down')">
        </span>
      {{file.file_info.relative_path}}
    </div>
    <div ng-show="file.expanded" class="file-contents">{{file.source}}</div>
  </div>
</div>
