<script type="text/ng-template" id="listTemplate">
  <div dnd-list="list"
       style="min-height: 20px;">
    <div ng-repeat="item in list"
         dnd-draggable="item"
         dnd-effect-allowed="move"
         dnd-moved="list.splice($index, 1)"
         dnd-selected="sidebarState.selected = item"
         ng-init="depth = depth + 1"
         style="padding-left: 18px;"
         ng-include="item.type + 'Template'">
    </div>
    <div class="dndPlaceholder" style="padding-left: 18px;">
      <strong>Move Here</strong>
    </div>
  </div>
</script>

<script type="text/ng-template" id="directoryTemplate">
  <div class="directory-plate"
       mg-nofocus
       ng-dblclick="item.isExpanded = !item.isExpanded"
       context-menu="directoryDropdown">
    <span class="tone-text-primary-hover glyphicon
             glyphicon-triangle-{{ item.isExpanded ? 'bottom' : 'right' }}"
          style="font-size: 0.8em; margin-right:2px;"
          aria-hidden="true"
          ng-click="item.isExpanded = !item.isExpanded">
    </span>
    <span class="glyphicon
                 glyphicon-folder-{{ item.isExpanded ? 'open' : 'close' }}"
          style="font-size: 0.8em; margin-right:1px;"
          aria-hidden="true">
    </span>
    {{ item.name }}
    <span ng-if="item.isExpanded && item.children"
      <div ng-repeat="list in [item.children]"
           ng-include="'listTemplate'">
      </div>
    </span>
  </div>
</script>

<script type="text/ng-template" id="fileTemplate">
  <div class="file-plate{{ state.activeFile == item ?
                           '-active bg-highlight-blue' : '' }}"
        ng-dblclick="renameDialog($event, item)"
        style="{{ state.activeFile == item ?
                  'margin-left: -' + ((depth * 18) + 10) + 'px;
                  padding-left: ' + ((depth * 18) + 10) + 'px;' : '' }}"
        context-menu="fileDropdown">
    <span class="glyphicon glyphicon-file" style="font-size: 0.8em;
      margin-right:2px;" aria-hidden="true">
    </span>
    {{ item.name }}
    <span class="glyphicon glyphicon-exclamation-sign pull-right alert-icon
                 small-font"
          ng-show="false" aria-hidden="true">
    </span>
  </div>
</script>

<div class="sidebar fill-flex-box tone-cplate-out tone-text-primary">

  <!--Active Project-->
  <div ng-show="state.activeProject" class="tone-cplate-in noselect">
    <div class="active-project-header">
      <div class="active-project-header-title">
        <span ng-show="activeAssignment" class="glyphicon glyphicon-education"
              style="margin-right:2px; color: green;" aria-hidden="true">
        </span>
        {{ state.activeProject.name }}
        <div class="glyphicon glyphicon-cog pull-right settings-icon"
             aria-hidden="true">
        </div>
      </div>
      <div ng-show="activeAssignment">
        <div class="progress">
          <div class="progress-bar progress-bar-custom" role="progressbar"
               aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
               style="width: 90%">
          </div>
        </div>
        <div class="small-font">
          Due in
          <span style="color: red;">4 hours</span>
        </div>
      </div>
    </div>
    <div class="header-divider bg-25"></div>
    <div class="files-plate"
         context-menu="filesListDropdown">

      <div ng-repeat="list in [sampleTree]"
           ng-include="'listTemplate'"
           ng-init="depth = 0">
      </div>

    </div>
  </div>

  <!--Inavtive Projects-->
  <div ng-repeat="project in projects">
    <div class="inactive-project tone-cplate-out-hover tone-text-secondary
                noselect"
          ng-show="project.id != state.activeProject.id"
          ng-click="state.activeProject = project">
      <span ng-show="activeAssignment" class="glyphicon glyphicon-education
                     small-font"
            style="margin-right:2px; color: red;" aria-hidden="true">
      </span>
      {{ project.name }}
      <span ng-show="false" class="tone-text-secondary pull-right small-font"
            style="padding-top: 2px; padding-right: 10px;">
        Due in
        <span style="color: orange;">2 weeks</span>
      </span>
    </div>
  </div>

</div>
