.alert-icon {
  margin-top: 2px;
  color: red;
}

.inactive-project {
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.active-project-header {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
  margin-bottom: 2px;
}

.active-project-header-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.files-plate {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1px;
}

.header-divider {
  height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.directory-plate {
}

.file-plate {
}

.file-plate-active {
}

.progress {
  border-radius: 2px;
  height: 12px;
  margin-bottom: 4px;
  height: 5px;
  background: rgba(25, 25, 25, 1);
  box-shadow: inset -1px -1px 0px 0px rgba(80, 80, 80, 1);
}

.progress-bar-custom {
  background: rgba(0, 173, 43, 1);
  box-shadow: inset 1px 0px 0px 1px rgba(0, 50, 0, 1);
}

.settings-icon {
  font-size: 1.2em;
  color: rgba(15, 15, 15, 0.8);
  text-shadow: -1px -1px 1px rgba(48, 48, 48, 1), 0 0 0 lightgrey, -1px -1px 1px rgba(48, 48, 48, 1);
  -webkit-transition: -webkit-all .8s ease-out;
  transition: all .8s ease-out;
}

.settings-icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: white;
}

.files-plate .dndDraggingSource {
  display: none;
}
