.forge-body {
  background-color: rgba(41, 41, 41, 1);
  height: 100%;
  margin: 0px;
  overflow: hidden;
  width: 100%;
}

.error-overlay {
  clear: both;
  float: left;
  left: 50%;
  margin: 10px 0;
  position: relative;
  text-align: left;
  z-index: 5000;
}

.error-label {
  background-color: darkred;
  border: 1px solid white;
  color: white;
  height: 30;
  left: -50%;
  margin-top: 26px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
}

.history-backdrop {
  background-color: rgba(41, 41, 41, 1);
  color: grey;
  height: 100%;
  text-align: center;
  width: 100%;
}

.sidebar {
  width: 250px;
  color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: rgba(41, 41, 41, 1);
  box-shadow: inset 1px 1px 0px 0px rgba(48, 48, 48, 1);
}

.sidebar-header {
  border-bottom: 1px solid darkgrey;
  box-shadow: inset 1px 1px 0px 0px rgba(48, 48, 48, 1);
  text-align: center;
  margin-bottom: 10px;
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.editor-footer {
  background-color: rgba(32, 32, 32, 1);
  border: 1px solid black;
  box-shadow: inset 1px 1px 0px 0px rgba(48, 48, 48, 1);
  color: grey;
  font-size: 12px;
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
}

.sidebar-header-icon {
  color: darkgrey;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 8px;
  font-size: 1.2em;
}

.sidebar-header-icon.active {
  color: white;
}
