<div class="login-backdrop">
  <div class="login-middle-align">
    <div class="login-window">

      <div ng-show="error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
          aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
      </div>

      <form ng-show="!createAccountTab" role="form-signin">
        <h2 class="text-center">Forge</h2>
        <br>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input class="form-control" ng-model="email" type="email"
          name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" ng-model="password" type="password"
          name="password" placeholder="Password">
        </div>
        <br>
        <input type="submit" ng-click="sentinel.login(email, password)"
        class="btn btn-success login-button" value="Sign In">
        <a href="" ng-click="createAccountTab=true; password='';"
          class="create-button pull-right">Create Account</a>
      </form>

      <form ng-show="createAccountTab" role="form-create">
        <h2 class="text-center">Create Forge Account</h2>
        <br>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input class="form-control" ng-model="create.firstName"
          name="firstname" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input class="form-control" ng-model="create.lastName"
          name="lastname" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input class="form-control" ng-model="create.email" type="email"
          name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
          <label for="minecraft">Minecraft Username (Not Email)</label>
          <input class="form-control" ng-model="create.minecraft"
                 type="minecraft" name="minecraft"
                 placeholder="Minecraft username, not the login email address">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" ng-model="create.password" type="password"
          name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="password-conf">Confirm Password</label>
          <input class="form-control" type="password" name="password-conf"
          placeholder="Confirm Password"
          ui-validate="'$value==password'"
          ui-validate-watch="'password'">
        </div>
        <br>
        <input type="submit" ng-click="createAccount()"
        class="btn btn-success login-button" value="Create">
      </form>

    </div>
  </div>
</div>
