<section class="module parallax" style="background-image: url('/assets/light_bulbs_stock_comp.jpg');">
  <div class="container">
    <div class="overlay-panel" style="float: left;" layout="column" layout-align="center center">
      <h1>Reliable Natural Gas</h1>
      <p>WoodRiver Energy is like, super awesome, or what ever, and like, dude. We sell gas. And stuff. The wording might need some work, hu?</p>
      <md-button ng-click="navigate('getting_started')" class="md-raised" style="margin-top: 40px;">Get Started Today</md-button>
      <md-button ng-click="navigate('create_login')">
        <md-tooltip md-delay="250">If you're already a customer and need an online account</md-tooltip>
        Already a Customer?
      </md-button>
    </div>
  </div>
</section>

<section style="margin: 150px 0 150px 0;">
  <div class="container">
    <div layout-xs="column" layout="row" style="text-align: center;">

      <div flex-xs flex-gt-xs="50" layout="column" layout-align="center center" style="margin: 0 20px 0 20px;">
        <span class="md-headline">Reliable</span>
        <br>
        <img src="assets/reliable_icon.png" class="img-circle" width="150" height="150">
        <br>
        <p>Because WoodRiver Energy works with the local utilities you can be assured that you will always have the same level of natural gas quality and reliability.</p>
      </div>

      <div flex-xs flex-gt-xs="50" layout="column" layout-align="center center" style="margin: 0 20px 0 20px;">
        <span class="md-headline">Affordable</span>
        <br>
        <img src="assets/affordable_icon.png" class="img-circle" width="150" height="150">
        <br>
        <p>Natural gas users can save as much as 60% over propane or electric services and is an affordable, safe and clean burning fuel for both residential and commercial use.</p>
      </div>

      <div flex-xs flex-gt-xs="50" layout="column" layout-align="center center" style="margin: 0 20px 0 20px;">
        <span class="md-headline">Relationship</span>
        <br>
        <img src="assets/relationship_icon.png" class="img-circle" width="150" height="150">
        <br>
        <p>WoodRiver Energy focuses on learning about our customers and their businesses to provide them with a customer specific energy saving program.</p>
      </div>

    </div>
  </div>
</section>

<section class="module parallax" style="background-image: url('/assets/education_stock_comp.jpg');">
  <div class="container">
    <div class="overlay-panel" style="float: right;">
      <h1>Educational Energy Group</h1>
      <p>WoodRiver Energy is like, super awesome, or what ever, and like, dude. We sell gas. And stuff. The wording might need some work, hu?</p>
      <md-button ng-click="goToHome()" style="margin-top: 40px;">Find Out More!</md-button>
    </div>
  </div>
</section>

<section style="margin: 150px 0 150px 0;">
  <div class="container text-center">
    <h2>More Amazing Content Below!</h2>
    <br>
    <p>We can keep up the obove look, and then have a nice footer at the bottom of the page.</p>
  </div>
</section>
