<div class="list-plate-collection">
  <div ng-repeat="parent in tree.parents">
    <div class="list-plate-group {{ parent.expanded ? 'expanded' : '' }}">
      <div class="list-plate-header"
           ng-click="parent.expanded = !parent.expanded">
        {{ parent.label }}
      </div>
      <div ng-repeat="child in parent.children"
           ng-click="tree.selected = child">
        <div class="list-plate {{ (tree.selected == child) ? 'active' : '' }}">
          {{ child.label }}
        </div>
      </div>
    </div>
  </div>
</div>
