.createUser-backdrop {
  background-color: rgba(41, 41, 41, 1);
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;
}

.createUser-middle-align {
  display: table-cell;
  vertical-align: middle;
}

.createUser-window {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.createUser-button {
  width: 100px;
}

.create-button {
  margin-top: 8px;
}
