<div class="v-flex-wrapper">
  <div class="flex-header">
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="" ng-click="run()">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true">
            </span> Run
          </a></li>
          <li class="disabled"><a href="">
            <span class="glyphicon glyphicon-time" aria-hidden="true">
            </span> File History
          </a></li>
          <li ng-disabled="!autoFormat"><a href="" ng-click="autoFormat()">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
            </span> Auto Format
          </a></li>
          <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            {{ sentinel.user.last_name.toPascalCase() }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="sentinel.logout()">Logout</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="flex-body">

    <!-- Primary Editor Window -->
    <div class="h-flex-wrapper">

      <div class="flex-header sidebar">

        <div class="v-flex-wrapper">
          <div class="flex-header sidebar-header">

            <div class="sidebar-header-icon glyphicon glyphicon-folder-close"
              ng-class="(activeSidebarTab == 'file') ? 'active' : ''"
              ng-click="activeSidebarTab = 'file'; editOn();">
            </div>
            <div class="sidebar-header-icon glyphicon glyphicon-time"
              ng-class="(activeSidebarTab == 'history') ? 'active' : ''"
              ng-click="activeSidebarTab = 'history'; buildHistory();">
            </div>
            <div class="sidebar-header-icon glyphicon glyphicon-exclamation-sign"
              ng-class="(activeSidebarTab == 'errors') ? 'active' : ''"
              ng-click="activeSidebarTab = 'errors'">
            </div>
            <div class="sidebar-header-icon glyphicon glyphicon-cog"
              ng-class="(activeSidebarTab == 'settings') ? 'active' : ''"
              ng-click="activeSidebarTab = 'settings'">
            </div>
          </div>

          <div class="flex-body">
            <!-- File Explorer -->
            <div ng-show="activeSidebarTab == 'file'" class="fill-flex-box">
              <div control='fileExplorerControl' at-file-explorer></div>
            </div>
            <!--History Explorer -->
            <div ng-show="activeSidebarTab == 'history'"
              class="fill-flex-box">
              <div control='historyExplorerControl' at-history-explorer></div>
            </div>
          </div>

        </div>

      </div>

      <div class="v-flex-wrapper">
        <div class="flex-body">
          <div control="contentWindowControl" at-content-window></div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-footer editor-footer">
    Scorchforge.com &copy; Alec Thilenius 2015
  </div>
</div>
