.blocklySvg {
  background-color: #141414 !important;
}

.blocklyMainBackground {
  stroke: transparent !important;
}

.blocklyFlyoutBackground {
  fill: #232323 !important;
  fill-opacity: 1 !important;
}

.blocklyToolboxDiv {
  background-color: #202020 !important;
  color: white !important;
  border-right: 1px solid black;
}

.blocklyTreeLabel {
  font-size: 12px !important;
}
