<div class="v-flex-wrapper">
  <div class="flex-header editor-header">
    <div ng-click="run()" ng-show='canRun && !readOnly'
      class="btn dark-button">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      Run
    </div>
    <div ng-click="stop()" ng-show='!canRun && !readOnly'
      class="btn dark-button">
      <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
      Stop
    </div>
    <div ng-click="downloadRepoSnapshot()" ng-show="!readOnly"
      class="btn dark-button">
      <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      Download Project Snapshot
    </div>
    <div ng-show='isLockedFile' class="locked-file-warning">
      File is locked for edit
    </div>
  </div>
  <div class="flex-body">
    <!--<div ng-show="!editorVisible" class="editor-backdrop fill-flex"></div>-->
    <div id="blocklyArea" class=fill-flex-box>
      <div id="blocklyDiv" class="fill-flex-box"></div>
    </div>
  </div>
</div>


<xml id="toolbox" style="display: none">
    <category name="Logic">
      <block type="controls_if"></block>
      <block type="controls_if">
        <mutation else="1"></mutation>
      </block>
      <block type="controls_if">
        <mutation elseif="1" else="1"></mutation>
      </block>
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
      <block type="logic_null"></block>
      <block type="logic_ternary"></block>
    </category>
    <category name="Loops">
      <block type="controls_repeat_ext">
        <value name="TIMES">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
      </block>
      <block type="controls_whileUntil"></block>
      <block type="controls_for">
        <field name="VAR">i</field>
        <value name="FROM">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="TO">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
        <value name="BY">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
      </block>
      <block type="controls_forEach"></block>
      <block type="controls_flow_statements"></block>
    </category>
    <category name="Math">
      <block type="math_number"></block>
      <block type="math_arithmetic"></block>
      <block type="math_single"></block>
      <block type="math_trig"></block>
      <block type="math_constant"></block>
      <block type="math_number_property"></block>
      <block type="math_change">
        <value name="DELTA">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
      </block>
      <block type="math_round"></block>
      <block type="math_on_list"></block>
      <block type="math_modulo"></block>
      <block type="math_constrain">
        <value name="LOW">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="HIGH">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="math_random_int">
        <value name="FROM">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="TO">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="math_random_float"></block>
    </category>
    <category name="Lists">
      <block type="lists_create_empty"></block>
      <block type="lists_create_with"></block>
      <block type="lists_repeat"></block>
      <block type="lists_getIndex"></block>
      <block type="lists_setIndex"></block>
    </category>
    <category name="Variables" custom="VARIABLE"></category>
    <category name="Functions">
      <block type="procedures_defnoreturn"></block>
      <block type="procedures_defreturn"></block>
      <block type="procedures_ifreturn"></block>
    </category>
    <category name="Text">
      <block type="text"></block>
      <block type="text_join"></block>
      <block type="text_append"></block>
      <block type="text_length"></block>
      <block type="text_isEmpty"></block>
      <block type="text_indexOf"></block>
      <block type="text_charAt"></block>
      <block type="text_getSubstring"></block>
      <block type="text_changeCase"></block>
      <block type="text_trim"></block>
      <block type="text_print"></block>
    </category>
    <category name="Anvil">
      <block type="spark_move"></block>
      <block type="spark_move_no_return"></block>
      <block type="spark_turn_no_return"></block>
      <block type="spark_mine"></block>
      <block type="spark_mine_no_return"></block>
      <block type="spark_drop_items"></block>
      <block type="spark_recall"></block>
    </category>
  </xml>

