#console-table {
  margin-top: 10px;
}

.console-sidebar-card {
  background-color: white;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px;
}

#console-content {
  background-color: white;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px;
}

#add-member-button {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.sidebar-item {
  padding: 10px;
}

.sidebar-item-small {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.sidebar-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid darkgrey;
}

.sidebar-button {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-button:hover {
  background-color: lightgrey;
}

.sidebar-button.active {
  color: white;
  background-color: #CC181E;
}

.select-club-backdrop {
  color: darkgrey;
  margin-top: 50px;
  text-align: center;
}
