<div at-navbar></div>
<div class="container">
  <div id="console-table" class="row row-offcanvas row-offcanvas-left">

    <div ng-show="!activeClub" class="select-club-backdrop">
      Select a club to get started or create a club from the drop down
    </div>

    <div ng-show="activeClub">
      <!-- sidebar -->
      <div class="col-xs-8 col-sm-4 sidebar-offcanvas" role="navigation">
        <div class="console-sidebar-card">
          <div class="sidebar-item text-center">
            <b>{{ activeClub.name.toUpperCase() }}</b>
          </div>
          <div class="sidebar-item sidebar-button
            {{ activeContent === 'club' ?  'active' : ''}}"
            ng-click="activeContent = 'club'">
            Dashboard
          </div>
          <div class="sidebar-item sidebar-button
            {{ activeContent === 'world' ?  'active' : ''}}"
            ng-click="activeContent = 'world'">
            Worlds
          </div>
        </div>

        <div class="console-sidebar-card">
          <div class="sidebar-item text-center">
            <b>Members</b>
          </div>
          <div ng-repeat="member in activeClub.members">
            <div class="sidebar-item-small">
              <a href="#" editable-text="member.username"
                onaftersave="saveClub()">
                {{ member.username }}
              </a>
            </div>
          </div>
          <br>
          <button id="add-member-button" class="btn btn-default"
            role="button" ng-click="addMember()">
            Add Member
          </button>
        </div>

      </div>

      <!-- main area -->
      <div id="console-content" class="col-xs-12 col-sm-8">
        <div id="console-content">
          <div ng-show="activeContent === 'club'" at-club-dashboard></div>
          <div ng-show="activeContent === 'world'" at-world-dashboard></div>
        </div>
      </div>

    </div>

  </div>
</div>
