<div class="create-club-backdrop">
  <div class="create-club-middle-align">
    <div class="create-club-window">

      <div ng-show="error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
          aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
      </div>

      <form name="createClubForm" role="form-create">
        <h2 class="text-center">Create Club</h2>
        <br>
        <div class="form-group">
          <label for="clubName">Club Name</label>
          <input class="form-control" ng-model="clubSpecs.name"
                 name="clubName" placeholder="Club Name" required>
        </div>
        <br>
        <input ng-enabled="createClubForm.$valid" type="submit"
               ng-click="createClub(clubSpecs)"
               class="btn btn-success login-button" value="Create">
      </form>

    </div>
  </div>
</div>
