.control-header {
  border-bottom: 1px solid darkgrey;
  color: white;
  padding-bottom: 10px;
}

.revert-button {
  background: darkred;
  padding-top: 5px;
  width: 100%;
}

.revert-button-disabled {
  background: darkgrey;
  padding-top: 5px;
  width: 100%;
}

.end-marker {
  border-bottom: 1px solid rgba(15, 15, 15, 1);
  color: darkgrey;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
