.alert-wrapper {
  overflow-y: auto;
}

.alert-backdrop {
  padding: 10px;
  text-align: center;
  color: darkgrey;
}

.alert-plate {
  background-color: rgba(15, 15, 15, 1);
  border: 1px solid black;
  box-shadow: inset 1px 1px 0px 0px rgba(48, 48, 48, 1);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
  color: lightgrey;
}

.alert-header {
  padding-bottom: 3px;
}

.alert-body {
  padding-top: 5px;
  color: darkgrey;
}
