md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar),
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
  background: rgb(59, 120, 231);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.md-toolbar-tools .md-button.md-icon-button md-icon {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.71;
}

.md-toolbar-tools .md-button.md-icon-button md-icon:hover {
  opacity: 1;
}

.md-toolbar-tools .md-button.md-icon-button {
  margin: 0 0px;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}

.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}
